.fx{
  padding-top: 8%;
}
.card-title {
  font-size: 18px;
}

.card-subtitle {
  font-size: 14px;
}

.card {
  margin-bottom: 30px;
}

.card-hover {
  transition: 0.2s ease-in;

  &:hover {
      transform: translate3d(0px, -5px, 0px);
  }
}
.area1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.btn-solid-lg {
	display: inline-block;
	padding: 1rem 2rem 1em 2rem;
	border: 0.125rem solid #00bfd8;
	border-radius: 2rem;
	background-color: #00bfd8;
	color: #fff;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #00bfd8;
	text-decoration: none;
}

a{
  cursor: pointer;
}


th{
  font-size: 100px;
}
.turquoise{
  color: #445051;
}
