* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
}
.mb-5 {
  margin-bottom: 10px;
}
.pt-3 {
  padding-top: 12px;
}
.main-wrapper {

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
  flex-wrap: wrap;
  background: #f9fafb;
}
.taswira{
  width: 100%;
  max-width: 400px;
  height: auto;
  padding-top: 5%;
}
// .bgi{
//   background-image: url("/assets/raise-form.png");
//   background-position: center;
// }

.form-wrapper {
  align-items: flex-start;
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  // background: white;
}
.form-label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  margin-bottom: 10px;
}
.form-label-2 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  padding: 12px 24px;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: #6b7280;
  outline: none;
  resize: none;
}
.form-input:focus {
  border-color: #00bfd8;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}

.btn {
  text-align: center;
  border-radius: 6px;
  padding: 14px 32px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  transition: 0.5s;
  background: #00bfd8;
  color: #fff;
  border: #3498db;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  color: #fff;
  background: #4aa3df;
  border: #4aa3df;
}

.mx-3 {
  margin-left: -12px;
  margin-right: -12px;
}
.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-full {
  width: 100%;
}
h2 {
  color: #484848;
  margin-bottom: 50px;
  font-size: 24px;
}
@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}
.alert {
  color: #721c24;
  padding: 10px;
  margin-top: 4px;
  height: 35px;

}
.ng-invalid.ng-touched {
  border-color: #dc3545;
}
.ng-valid.ng-touched {
  border-color: #7EBF8B;
}
.hello {
  padding-top: 5%;
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #00bfd8;
}
p{

  position: relative;
  padding-bottom: 10px;
}
