.carte {
  max-width: 350px;
  max-height: 400px;
  height: stretch;
  width: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 30px;
  border: 1px solid rgba(98, 97, 97, 0.193);
  border-radius: 20px;
  background-color: rgba(209, 207, 207, 0.071);
  backdrop-filter: blur(20px);
  margin-bottom: 30px;
}

.containerOne {
  width: 280px;

  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

}

.containerTwo {

  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.ct{
  padding-top: 5%;
  background: f9fafb;
}


.textPlaceholder {
  display: flex;
  justify-content: space-between;
}

.buttonPlaceholder {
  display: flex;
  justify-content: space-between;
}

.carte > h2 {
			font-size: 20px;
      max-width: 200px;


}


.carte > .containerTwo > img {
			display: block;
			margin: 0 auto;

}

.carte > .containerThree > .textPlaceholder > p {
			margin: 10px ;
			 text-align: center;
}
.img{
  width :fit-content

}
.carte button {
	display: inline-block;
	padding: 1rem 2rem 1rem 2rem;
	 border: 0.125rem solid #00bfd8;

	border-radius: 2rem;
	font: 700 0.75rem/0 "Raleway", sans-serif;

	transition: all 0.2s;
  background-color: transparent;
	color: #00bfd8;
	text-decoration: none;
  width: 90px;
  text-align: center;
}
.classenter{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.btn-solid-lg {
	display: inline-block;
	padding: 1rem 2rem 1em 2rem;
	border: 0.125rem solid #00bfd8;
	border-radius: 2rem;
	background-color: #00bfd8;
	color: #fff;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #00bfd8;
	text-decoration: none;
}

a{
  cursor: pointer;
}
.fx{
  padding-top: 4%;
  display: flex;
  justify-content: center;
}
input{
  
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  
}