


<div>
  <mat-grid-list cols="3"  rowHeight="500px" >
    <mat-grid-tile *ngFor="let post of posts" class="my-grid-tile">

<div class="carte">
<div class="cadre">
  <div class="containerOne">
    <h2>{{post.name}}</h2>
    <mat-chip class="domain">{{post.industry}}</mat-chip>
  </div>
  <div class="containerTwo">
   <img  src="assets/ENISo.svg.png" alt="startup" border="0">
  </div>
  <div class="containerThree">
  <div class="textPlaceholder">
    <p>text</p>
    <p>text</p>
    <p>text</p>

  </div>

  <div class="buttonPlaceholder">
    <button class="btn-solid-lg page-scroll"><span class="Classcenter">INVST</span></button>
    <button class="btn-solid-lg page-scroll">INFO</button>
  </div>
</div>
</div>
</div>
  </mat-grid-tile>
  </mat-grid-list>
</div>

