


<div class="ct">
  <mat-grid-list cols="3"  rowHeight="500px" >
    <mat-grid-tile *ngFor="let post of posts" class="my-grid-tile">

<div class="carte">
<div class="cadre">
  <div class="containerOne">
    <h2>{{post.name}}</h2>
    <mat-chip class="domain">{{post.industry}}</mat-chip>
  </div>
  <div class="containerTwo">
   <img  src="assets/log.jpeg" alt="startup" >
  </div>
  <div class="containerThree">
  <div class="textPlaceholder">


  </div>

  <div class="buttonPlaceholder">
    <a class="btn-solid-lg page-scroll" ><span class="classCenter">INVEST</span></a>
    <a class="btn-solid-lg page-scroll"><span class="classCenter">INFO</span></a>
  
  </div>
  <div class="fx"><input
    ngModel
    #shares="ngModel"
   type="number"
   min="0"
    id="shares"
    name="shares"
    placeholder="number of shares"
     ></div>
</div>
</div>
</div>
  </mat-grid-tile>
  </mat-grid-list>
</div>

