@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap');
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
	justify-content: space-between;
    li{
        padding: 0 1.2rem;
        a{
            text-decoration: none;
            color: #000;
            font-size: 18px;
            font-weight: 600;
            font-family:   'Archivo', sans-serif;
            &:hover{
                color: #00bfd8;
                text-decoration: none;
            }
        }
    }
}
a{
    cursor: pointer;
}

.navigation-links{


    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: ''Archivo', sans-serif';
    align-items: center;
    padding: 0 2rem;
    height: 9vh;
	width: 100%;
    border: none;
    box-shadow:   0px 0px .7px #080708;
    position: fixed ;
    width: 100%;
	//background-color: #dfdae4;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
	z-index: 100;
}
.btn-get-started {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 1px;
	display: inline-block;
	padding: 10px 30px;
	border-radius: 50px;
	transition: 0.5s;
	color: #fff;
	background : #00bfd8;
	text-decoration: none;
	border: 2px solid #00bfd8;
	cursor: pointer;
  }
  .btn-get-started:hover {
	color: #00bfd8;
	background: #fff;
  
  }
  .fx{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .wallet{
    display: flex;
    padding-right: 20px;
  }
// $bgColor: #00bfd8;
// $textHoverColor: white;
// $debug: false;
// button {
//     cursor: pointer;
// 	display: inline-block;
// 	position: relative;
// 	z-index: 1;
// 	overflow: if($debug, unset, hidden);

// 	text-decoration: none;

// 	font-family: sans-serif;
// 	font-weight: 600;
// 	font-size: 16px;
// 	padding: 10px;


// 	color: $bgColor;

// 	border: 2.5px solid $bgColor;
// 	border-radius: calc(0.75em + 0.5em + 0.15em);

// 	transition: 2s;

// 	&:before,
// 	&:after {
// 		content: '';
// 		position: absolute;
// 		top: -1.5em;

// 		z-index: -1;

// 		width: 200%;
// 		aspect-ratio: 1;

// 		border: if($debug, inherit, none);
// 		border-radius: 40%;

// 		background-color: rgba($bgColor, 0.25);

// 		transition: 2s;
// 	}

// 	&:before {
// 		left: -80%;
// 		transform: translate3d(0, 5em, 0) rotate(-340deg);
// 	}

// 	&:after {
// 		right: -80%;
// 		transform: translate3d(0, 5em, 0) rotate(390deg);
// 	}

// 	&:hover,
// 	&:focus {
// 		color: $textHoverColor;

// 		&:before,
// 		&:after {
// 			transform: none;
// 			background-color: rgba($bgColor, 0.75);
// 		}
// 	}
// }


