@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&display=swap');
ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    li{
        padding: 0 1.2rem;
        a{
            text-decoration: none;
            color: #e5e3e9;
            font-size: 18px;
            font-weight: 600;
            font-family:   'Archivo', sans-serif;
            &:hover{
                color: #73567c;
                text-decoration: none;
            }
        }
    }
}
a{
    cursor: pointer;
}

.nav-links{

    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-family: ''Archivo', sans-serif';
    align-items: center;
    padding: 0 2rem;
    height: 9vh;
    border: none;
    box-shadow:   0px 0px .7px #080708;
    position: fixed ;
    width: 95.7%;
	//background-color: #dfdae4;
   -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
$bgColor: rgb(134, 65, 171);
$textHoverColor: white;
$debug: false;
button {
    cursor: pointer;
	display: inline-block;
	position: relative;
	z-index: 1;
	overflow: if($debug, unset, hidden);

	text-decoration: none;

	font-family: sans-serif;
	font-weight: 600;
	font-size: 16px;
	padding: 10px;


	color: $bgColor;

	border: 2.5px solid $bgColor;
	border-radius: calc(0.75em + 0.5em + 0.15em);

	transition: 2s;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: -1.5em;

		z-index: -1;

		width: 200%;
		aspect-ratio: 1;

		border: if($debug, inherit, none);
		border-radius: 40%;

		background-color: rgba($bgColor, 0.25);

		transition: 2s;
	}

	&:before {
		left: -80%;
		transform: translate3d(0, 5em, 0) rotate(-340deg);
	}

	&:after {
		right: -80%;
		transform: translate3d(0, 5em, 0) rotate(390deg);
	}

	&:hover,
	&:focus {
		color: $textHoverColor;

		&:before,
		&:after {
			transform: none;
			background-color: rgba($bgColor, 0.75);
		}
	}
}


