<header>
    <nav class="navigationbar">

        <div class="navigation-links">

            <ul>

                <li><a routerLink=""><img>LOGO</a></li>
                <li><a routerLink="/invest">Invest</a></li>
                <li><a routerLink="/raisePage">Raise</a></li>
            </ul>
            
            <div class="fx" >
                <div class="wallet" >Wallet   </div>
             <button class="btn-get-started scrollto" routerLink="../login">Connect</button>
            </div>
           
        </div>
    </nav>
</header>
