h2 {
	color: #393939;
	font: 700 2.25rem/2.75rem "Raleway", sans-serif;
}
.bld{
    font-weight: 600;
}
.fx{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.classCenter {
    text-align: center;
}
a{
    cursor: pointer;
}
.p-heading {
	margin-bottom: 3.875rem;
}
.p-large {
	font: 400 1rem/1.5rem "Raleway", sans-serif;
}


.header {
	background-color: #fff;
}

.header .header-content {
	padding-top: 8rem;
	padding-bottom: 4rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 4rem;
}

.header h1 {
	margin-bottom: 1.125rem;
	font-size: 2.5rem;
	line-height: 3.125rem;
}

.header .p-large {
	margin-bottom: 1.875rem;
}
@media (min-width: 768px){
    .header .header-content {
		padding-top: 10.5rem;
	}
    .header h1 {
		font-size: 3rem;
		line-height: 3.5rem;
	}
}
@media (min-width: 992px){
    .header {
        background: url('/assets/header-background.jpg') center center no-repeat;
        background-size: cover;
    }
    .header .header-content {
		padding-top: 11.5rem;
		text-align: left;
	}
    .header .text-container {
		margin-top: 3rem;
		margin-bottom: 0;
	}

    .cards-1 .card {
		display: inline-block;
		max-width: 17.125rem;
		vertical-align: top;
	}

	.cards-1 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 2rem;
		margin-left: 2rem;
	}


    .basic-1 .text-container {
		margin-top: 3.875rem;
		margin-bottom: 0;
	}

    .basic-2 .text-container {
		margin-top: 5.375rem;
		margin-right: 1rem;
		margin-left: 4rem;
	}


}
@media (min-width: 1200px){
    .header .header-content {
		padding-top: 12.5rem;
	}
    .header .text-container {
		margin-top: 5.375rem;
		margin-left: 1rem;
		margin-right: 2rem;
	}
    .header .image-container {
		margin-left: 2rem;
		margin-right: 1rem;
	}

    .cards-1 .card {
		max-width: 21rem;
	}

	.cards-1 .col-lg-12 div.card:nth-child(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

    .basic-1 .text-container {
		margin-top: 6.125rem;
		margin-right: 4rem;
		margin-left: 1rem;
	}


}

.turquoise {
	color: #00bfd8;
}
.p-large {
	font: 400 1rem/1.5rem "Raleway", sans-serif;
}
.header .p-large {
	margin-bottom: 1.875rem;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #00bfd8;
	border-radius: 2rem;
	background-color: #00bfd8;
	color: #fff;
	font: 700 0.75rem/0 "Raleway", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #00bfd8;
	text-decoration: none;
}
.img-fluid {
    max-width: 100%;
    height: auto;
  }
// services section
.cards-1 {
	padding-top: 4rem;
	padding-bottom: 1.625rem;
	text-align: center;
}

.cards-1 h2 {
	margin-bottom: 1rem;
}

.cards-1 .card {
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 4.5rem;
	margin-left: auto;
	padding: 3.25rem 2rem 2rem 2rem;
	border: 1px solid #c4d8dc;
	border-radius: 0.5rem;
	background: transparent;
}

.cards-1 .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}

.cards-1 .card-title {
	margin-bottom: 0.875rem;
}

.cards-1 .card-body {
	padding: 0;
}

//section 2
.basic-1 {
	padding-top: 1.625rem;
	padding-bottom: 3.75rem;
}

.basic-1 .text-container {
	margin-bottom: 4rem;
}

.basic-1 h2 {
	margin-bottom: 1.375rem;
}

.basic-1 .btn-solid-reg {
	margin-top: 0.625rem;
}

//section 3
.basic-2 {
	padding-top: 3.75rem;
	padding-bottom: 4rem;
}

.basic-2 .image-container {
	margin-bottom: 4rem;
}

.basic-2 h2 {
	margin-bottom: 1.375rem;
}

.basic-2 .list-unstyled .fa {
	color: #00bfd8;
	line-height: 1.375rem;
}

.basic-2 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.basic-2 .btn-solid-reg {
	margin-top: 0.625rem;
}

//section 4
.pricing .box {
    padding: 20px;
    background: #f9f9f9;
    text-align: center;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    border: 2px solid #f9f9f9;
  }

  .pricing .box h3 {
    font-weight: 400;
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #00bfd8;
  }

  .pricing .box h4 {
    font-size: 42px;
    color: #00bfd8;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
  }

  .pricing .box h4 sup {
    font-size: 20px;
    top: -15px;
    left: -3px;
  }

  .pricing .box h4 span {
    color: #bababa;
    font-size: 16px;
    font-weight: 300;
  }

  .pricing .box ul {
    padding: 0;
    list-style: none;
    color: #222222;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
  }

  .pricing .box ul li {
    padding-bottom: 16px;
  }

  .pricing .box ul i {
    color: #00bfd8;
    font-size: 18px;
    padding-right: 4px;
  }

  .pricing .box ul .na {
    color: #ccc;
    text-decoration: line-through;
  }

  .pricing .box .btn-wrap {
    padding: 15px;
    text-align: center;
  }

  .pricing .box .btn-buy {
    display: inline-block;
    padding: 10px 40px 12px 40px;
    border-radius: 50px;
    border: 2px solid #00bfd8;
    color: #00bfd8;
    font-size: 14px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: 0.3s;
  }

  .pricing .box .btn-buy:hover {
    background: #00bfd8;
    color: #fff;
  }

  .pricing .recommended {
    border-color: #00bfd8;
  }

  .pricing .recommended .btn-buy {
    background: #00bfd8;
    color: #fff;
  }

  .pricing .recommended .btn-buy:hover {
    background: #2383c4;
    border-color: #2383c4;
  }

  //section 5
  .basic-4 {
	padding-top: 7rem;
	padding-bottom: 4rem;
	text-align: center;
}

.basic-4 h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.basic-4 .team-member {
	max-width: 12.5rem;
	margin-right: auto;
	margin-bottom: 3.5rem;
	margin-left: auto;
}

/* Hover Animation */
.basic-4 .image-wrapper {
	overflow: hidden;
	margin-bottom: 1.5rem;
	border-radius: 50%;
}

.basic-4 .image-wrapper img {
	margin: 0;
	transition: all 0.3s;
}

.basic-4 .image-wrapper:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}
/* end of hover animation */

.basic-4 .team-member .p-large {
	margin-bottom: 0.25rem;
	font-size: 1.125rem;
}

.basic-4 .team-member .job-title {
	margin-bottom: 0.375rem;
}

.basic-4 .fa-stack {
	margin-top: 0.375rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	font-size: 0.875rem;
}

.basic-4 .fa-stack-2x {
	color: #00bfd8;
	transition: all 0.2s ease;
}

.basic-4 .fa-stack-1x {
	color: #fff;
	transition: all 0.2s ease;
}

.basic-4 .fa-stack:hover .fa-stack-2x {
	color: #00a7bd;
}

.basic-4 .fa-stack:hover .fa-stack-1x {
	color: #fff;
}
