<link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">

<div class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1 class="bld"><span class="turquoise">Welcome to </span> StartBoost</h1>
                        <p class="p-large">Empowering innovation through investment: Fuel the future by investing in promising startups on our platform.</p>
                        <a class="btn-solid-lg page-scroll" routerLink="/invest">DISCOVER</a>
                    </div> 
                </div> 
                <div class="col-lg-6">
                    <div class="image-container">
                        <img class="img-fluid" src="/assets/header-teamwork.svg" alt="alternative">
                    </div> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>

<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Our Services</h2>
                <p class="p-heading p-large">Our platform provides a range of services to cater to the needs of startups and investors.</p>
            </div> 
        </div> 
        <div class="row">
            <div class="col-lg-12">

                
                <div class="card">
                    <img class="card-image" src="/assets/services-icon-1.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Marketplace</h4>
                        <p>Discover and trade innovative startups on our platform's marketplace.</p>
                    </div>
                </div>
               
                <div class="card">
                    <img class="card-image" src="/assets/services-icon-2.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Opportunity Unleashed</h4>
                        <p>Seize the opportunity to grow your idea by showcasing it to our network of investors.</p>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-image" src="/assets/services-icon-3.svg" alt="alternative">
                    <div class="card-body">
                        <h4 class="card-title">Action Plan</h4>
                        <p>Invest in startups and gain equity to grow your portfolio and your business.</p>
                    </div>
                </div>
                
                
            </div> 
        </div> 
    </div> 
</div> 

<div class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Discover the future of investing with our platform</h2>
                    <p>Browse through a wide range of innovative startups and choose the one that aligns with your investment goals to fuel their growth and success.</p>
                    
                </div>
            </div>
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="/assets/details-1-office-worker.svg" alt="alternative">
                </div> 
            </div> 
        </div> 
    </div> 
</div> 

<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="/assets/details-2-office-team-work.svg" alt="alternative">
                </div> 
            </div> 
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>Power up your startup with our platform and attract investors.</h2>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Sign up and create your startup profile.</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Showcase your idea to potential investors.</div>
                        </li>
                        <li class="media">
                            <i class="fa fa-check"></i>
                            <div class="media-body">Attract funding and power up your startup with our platform.</div>
                        </li>
                    </ul>
                </div> 
            </div> 
        </div> 
    </div> 
</div>

<section id="pricing" class="pricing">
    <div class="container">
  
      
        <div class="classCenter">
            <h2>Multiple Pricing Options</h2>
            <p class="p-heading p-large">We've prepared pricing plans for all budgets so you can get started right away. They're great for small companies and large organizations</p>
            
        </div>
       
  
      <div class="row">
  
        <div class="col-lg-4 col-md-6">
          <div class="box" data-aos="zoom-in-right" data-aos-delay="200">
            <h3>Normal</h3>
            <h4><sup>dt</sup>9<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li class="na">Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
  
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
          <div class="box recommended" data-aos="zoom-in" data-aos-delay="100">
            <h3>Boosted</h3>
            <h4><sup>dt</sup>29<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li class="na">Massa ultricies mi</li>
            </ul>
  
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in-left" data-aos-delay="200">
            <h3>Normal-Boosted</h3>
            <h4><sup>dt</sup>19<span> / month</span></h4>
            <ul>
              <li>Aida dere</li>
              <li>Nec feugiat nisl</li>
              <li>Nulla at volutpat dola</li>
              <li>Pharetra massa</li>
              <li>Massa ultricies mi</li>
            </ul>
  
          </div>
        </div>
  
      </div>
  
    </div>
  </section>
  <div id="about" class="basic-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>About The Team</h2>
                <p class="p-heading p-large">Meat our team of specialized marketers and business developers which will help you research new products and launch them in new emerging markets</p>
            </div> 
        </div> 
        <div class="row">
            <div class="fx">
                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="/assets/team-member-2.svg" alt="alternative">
                    </div> <!-- end of image wrapper -->
                    <p class="p-large"><strong>Adam Gaida</strong></p>
                    <p class="job-title">Software Engineer</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a>
                                <i class="fa fa-circle fa-stack-2x facebook"></i>
                                <i class="fa fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a>
                                <i class="fa fa-circle fa-stack-2x twitter"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </a>
                        </span>
                    </span> 
                </div> 

               
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="/assets/team-member-3.svg" alt="alternative">
                    </div> 
                    <p class="p-large"><strong>Tayssir Ghanmi</strong></p>
                    <p class="job-title">Software Engineer</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a>
                                <i class="fa fa-circle fa-stack-2x facebook"></i>
                                <i class="fa fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a>
                                <i class="fa fa-circle fa-stack-2x twitter"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </a>
                        </span>
                    </span> 
                </div> 
                

               
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="/assets/team-member-2.svg" alt="alternative">
                    </div> 
                    <p class="p-large"><strong>Wael Ben Aisha</strong></p>
                    <p class="job-title">Networks Engineer</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a>
                                <i class="fa fa-circle fa-stack-2x facebook"></i>
                                <i class="fa fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a>
                                <i class="fa fa-circle fa-stack-2x twitter"></i>
                                <i class="fa fa-linkedin fa-stack-1x"></i>
                            </a>
                        </span>
                    </span> 
                </div> 
            </div> 
        </div> 
    </div> 
</div>


