
<div>
    <div class="bgc">
        <div class="cont">
            <div class="classCenter">
                <h1>Invest in tomorrow's success: Discover and fund promising startups on our platform.</h1>
                <p>Discover the most innovative startups and get in on the ground floor of their success by investing through our user-friendly platform.</p>
                <button class="btn">Start now</button>
            </div>
            <div>
                <img src="assets/hero-img.png" alt="image">
            </div>
        </div>
    </div>
    
    <section>
        <h1>Nice curves</h1>
        <p>lorem ipsum dolor sit amet consectetur adipiscing elit. Aliquid cukoa saepe</p>
    </section>
    <section>
        <h1>Nice curves</h1>
        <p>lorem ipsum dolor sit amet consectetur adipiscing elit. Aliquid cukoa saepe</p>
    </section>
</div>
