<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
    <div class="footer">
    <div class="layout">
     <div class="logo">LOGO</div>
     <div class="nlogo">
        <div class="row">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-instagram"></i></a>
            <a href="https://github.com/TayssirGh/projet_semestriel"><i class="fa fa-github"></i></a>
            <a><i class="fa fa-linkedin"></i></a>
         </div>

        <div class="row">
            <ul>
                <li><a>Contact us</a></li>
                <li><a>Our Services</a></li>
                <li><a>Privacy Policy</a></li>
                <li><a>Terms & Conditions</a></li>
                <li><a>Career</a></li>
            </ul>
          </div>

        <div class="row">
        Copyright © 2023 StartBoost. All rights reserved.
        </div>
    </div>
    <div><br></div>
    </div>
    </div>
    </footer>
